body {
    font-size: 14px;
    font-family: 'Noto Sans KR', sans-serif;
}
header {
    height: 50px;
    position: fixed;
    top: 0;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-primary);
    z-index: 1;
}

header h1.logo {
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
}

header h1.logo .toggle {
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

header h1.logo .toggle span {
    width: 3px;
    height: 3px;
    background-color: var(--color-white);
    transition: width 200ms ease-in-out;
}

body.hide header h1.logo .toggle span {
    width: 20px;
}

header h1.logo a {
    margin: 5px;
}

header img {
    height: 30px;
    object-fit: contain;
}

footer {
    height: 40px;
    box-shadow: 0 0 1px #ccc;
    text-align: center;
    line-height: 40px;
    font-size: 12px;
    color: var(--color-text);
    margin-left: 250px;
    background-color: var(--color-background);
}


body.hide :is(main,footer) {
    margin-left: 40px;
}

aside {
    position: fixed;
    left: 0;
    top: 50px;
    height: calc(100vh - 50px);
    font-size: 12px;
    overflow-y: scroll;
    background-color: var(--color-white);
    z-index: 1000;
    box-shadow: 1px 0 2px #ccc;
}

aside::-webkit-scrollbar {
    display: none;
}

aside > ul {
    white-space: nowrap;
}

aside:hover .menu-item {
    width: 240px !important;
}


aside:hover > ul > li:has(:is(:checked , .menu-item.active)) > ul > li {
    height: 30px !important;
    width: inherit !important;
}

aside > ul > li .menu-item {
    display: inline-flex;
    width: 240px;
    height: 30px;
    margin: 5px;
    border-radius: 3px;
    cursor: pointer;
    overflow: hidden;
    transition: width 200ms ease-in-out;
}

aside > ul > li .menu-item:hover {
    background-color: #eee;
}

aside > ul > li .menu-item .icon {
    display: inline-flex;
    width: 30px;
    height: 30px;
    object-fit: contain;
    border-radius: 3px;
    z-index: 10;
}

aside > ul > li .menu-item .icon img {
    width: 25px;
    height: 25px;
    margin: auto;
}

aside > ul > li .menu-item span {
    display: inline-block;
    line-height: 30px;
    text-indent: 5px;
    vertical-align: bottom;
    flex-grow: 1;
    position: relative;
}
aside > ul > li .menu-item:not(.active):hover{
    background-color: #ddd;
}
aside > ul > li .menu-item:not(.active) span::after {
    content: '';
    width: 30px;
    height: 30px;
    background-image: url("/assets/icon_svg/arrow_down.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: 5px;
}
aside > ul > li .menu-item:is(:has(:checked)) span::after{
    transform: rotate(180deg);
}


aside > ul > li > ul > li {
    height: 0;
    transition: height 200ms ease-in-out;
    overflow: hidden;
}

aside > ul > li > ul > li.active {
    font-weight: 600;
    color: var(--color-primary);
}

aside > ul > li > ul > li a {
    display: block;
    line-height: 30px;
    text-indent: 30px;
}

aside > ul > li > ul > li a:hover {
    color: #aaa;
}

aside > ul > li:has(:is(:checked , .menu-item.active)) > ul > li {
    height: 30px;
}

aside > ul > li .menu-item:is(.active) {
    background-color: var(--color-primary);
    color: var(--color-white);
}
aside > ul > li .menu-item:is(.active) img {
    filter: var(--filter-white);
}

body.hide aside > ul > li .menu-item {
    width: 30px;
}

body.hide aside > ul > li > ul > li {
    width: 0 !important;
    height: 0 !important;
}

main {
    min-height: calc(100vh - 50px - 40px);
    margin-top: 50px;
    margin-left: 250px;
    transition: margin-left 200ms ease-in-out;
    background-color: var(--color-background);
}

.tool-box {
    position: sticky;
    top: 50px;
    padding: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    height: 60px;
    z-index: 1;
    box-shadow: 0 1px 2px #ccc;
}

.tool-box h2 {
    font-size: 18px;
    font-weight: 550;
}

.buttons {
    display: flex;
    justify-content: end;
    gap: 5px;
}

.button:is(a,button) {
    display: inline-block;
    background-color: var(--color-normal);
    color: var(--color-white);
    text-align: center;
    border: inherit;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 14px;
    box-sizing: border-box;
}

.buttons :is(a,button) {
    padding: 10px 15px;
    line-height: 15px;
    min-width: 60px;
}

.button:is(a,button).primary {
    background-color: var(--color-primary);
}
.button:is(a,button).error {
    background-color: var(--color-error);
}
a.href{
    text-decoration: underline;
    text-underline-offset: 3px;
}
section {
    padding: 5px;
    border-radius: 3px;
    box-sizing: border-box;
    width: 100%;
}

article {
    max-width: 1000px;
    margin: auto;
    padding: 15px;
}

fieldset {

}


fieldset legend {
    font-size: 14px;
    line-height: 20px;
    font-weight: 500;
    margin-bottom: 10px;
}

.form-control {
    position: relative;
}

.form-control > label {
    display: inline-block;
    width: 100%;
    line-height: 20px;
    min-height: 20px;
}

.form-control label span.label {
    font-weight: 400;
    font-size: 12px;

}
.form-control :is(
    input:is([type=text],[type=email],[type=tel],[type=url]),
    select
){
    width: 100%;
    border-radius: 3px;
    outline: inherit;
    border: none;
    line-height: 25px;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
}
.form-control input {

}

.form-control :is(
    input,
    .multi-uploader,
    .ql-toolbar,
    .ql-container
) {
    background-color: var(--color-white);
}

.form-control input[size=small] {
    width: 100px;
}

.form-control input[size=medium] {
    width: 300px;
}

.form-control input[size=large] {
    width: 500px;
}

.form-control input[readonly] {
    color: #888;
    cursor: default;
}

.form-group {
    width: 100%;
    display: flex;
    gap: 10px;
}

.form-group .form-control {
    flex: 1;
}

.form-control button {
    line-height: 25px;
    padding: 5px;
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000060;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal .modal-container {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;

}
.modal .modal-content.loading::before{
    content: '';
    position: absolute;
    background-color: #00000070;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.modal .modal-content.loading::after{
    content: '';
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border: 3px solid var(--color-primary);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}
.modal .modal-content {
    position: relative;
    max-height: 800px;
    overflow-y: scroll;
}

.modal .modal-content::-webkit-scrollbar {
    display: none;
}

.modal .modal-content img {
    width: 800px;
    object-fit: contain;
}

.modal .modal-content iframe {
    width: 800px;
    height: 700px;
}

.modal:has(.delete-form form){
    display: flex;
}
.modal:has(.delete-form form[action='']){
    display: none;
}
.modal .delete-form{
    padding: 10px;
}
.modal .delete-form h3{
    font-size: 24px;
    color: var(--color-error);
    font-weight: 600;
    margin-bottom: 10px;
}
.modal .delete-form .content p{
    margin-bottom: 5px;
}
.modal .delete-form .content {
    margin-bottom: 10px;
}
.modal .delete-form label{
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}
.modal .delete-form label input{
    border: none;
    background-color: #eee;
    border-radius: 3px;
    outline: none;
    width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: center;
}

.modal .delete-form button{
        flex-grow: 1;
}
/*Quill Editor Custom*/
.ql-toolbar {
    position: sticky;
    top: 120px;
    border: none !important;
    border-radius: 3px;
    padding: 5px !important;
    margin-bottom: 5px;
    z-index: 1;
}

.ql-container {
    border: none !important;
    border-radius: 3px;
    padding: 5px !important;
    color: transparent;
}

#editor-resizer .toolbar {
    z-index: 1;
}

.multi-uploader.loading::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #eeeeee50;
    backdrop-filter: blur(2px);
}

.multi-uploader.loading::after {
    content: '';
    position: absolute;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    width: 30px;
    height: 30px;
    border: 3px solid var(--color-primary);
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.multi-uploader.loading {
    cursor: no-drop;
}

.multi-uploader {
    position: relative;
    border-radius: 3px;
    padding: 5px;
    box-sizing: border-box;
    min-height: 80px;
    max-height: 200px;
    overflow-y: scroll;
    cursor: copy;
    font-size: 12px;
    line-height: 15px;
}

.multi-uploader::-webkit-scrollbar {
    display: none;
}

.multi-uploader div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 3px;
}

.multi-uploader p.actions a:hover {
    background-color: #ddd;
}

.multi-uploader p.info {
    flex-grow: 1;
}

.multi-uploader p.actions {
    display: flex;
    gap: 5px;
}

.multi-uploader p.actions a {
    text-decoration: underline;
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 3px;
}

.multi-uploader p.actions a.download {
    background-image: url("/assets/icon_svg/download.svg");
}

.multi-uploader p.actions a.preview {
    background-image: url("/assets/icon_svg/preview.svg");
}

.multi-uploader p.actions a.delete {
    background-image: url("/assets/icon_svg/delete.svg");
}

.multi-uploader p.actions a:hover {
    font-weight: 550;
}


/* Loading Spinner*/


@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}

body.loading .loading-container {
    display: flex;
}

.loading-container {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000070;
    justify-content: center;
    align-items: center;
    z-index: 1001;
}

.loading-container > span {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    box-sizing: border-box;
}

.loading-container > span > span {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: var(--color-primary);
    animation: loading 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.loading-container > span > span:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.loading-container > span > span:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.loading-container > span > span:nth-child(3) {
    left: 56px;
    animation-delay: 0s;
}



/*List*/
section.list .list-container {
    width: 100%;
    overflow-x: scroll;
    border-radius: 5px;
    background-color: var(--color-white);
    border: 1px solid var(--color-disabled);
    box-sizing: border-box;
    padding-bottom: 5px;
}
section.list .list-container::-webkit-scrollbar{
    height: 5px;
}
section.list .list-container::-webkit-scrollbar-thumb{
    background-color: var(--color-primary);
    border-radius: 5px;
}
section.list .list-container::-webkit-scrollbar-track{
    background-color: transparent;

}
section.list .list-container table {
    table-layout: fixed;
    white-space: nowrap;
    min-width: 100%;

}
section.list .list-container table td{
    min-width: 80px;
    max-width: 200px;
    text-overflow: ellipsis;
    overflow: hidden;
}
section.list .list-container table td.actions{
    overflow: visible;
}
section.list .list-container table td.actions a{
    margin: 0 5px;
}
section.list .list-container table :is(th,td) {

    width: auto;
    border-top: 1px solid var(--color-disabled);
    border-bottom: 1px solid var(--color-disabled);
    padding: 10px 20px;
    text-align: start;
    position: relative;
}
section.list .list-container table :is(th,td):not(:last-child)::after{
    content: '';
    position: absolute;
    display: inline-block;
    width: 1px;
    height: 20px;
    background-color: var(--color-disabled);
    right: 0;
}
section.list .list-container thead th{
    border-top: none;
}
section.list .list-container tbody tr:last-child td{
    border-bottom: none;
}
section.list .list-container table :is(th,td).checks {
    min-width: 20px;
    width: 20px;
    max-width: 20px;
}
section.list .list-container table :is(th,td).checks input[type=checkbox] {
    visibility: hidden;
}
section.list .list-container table :is(th,td).checks label:has(input[type=checkbox]) {
    cursor: pointer;
    background-image: url("/assets/icon_svg/checkbox_blank.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
section.list .list-container table :is(th,td).checks label:has(input[type=checkbox]:checked) {
    background-image: url("/assets/icon_svg/checkbox_check.svg");
}
section.list .list-container table tr:has(:checked) td {
    background-color: var(--color-active);
}
section.list .list-container table thead th {
    background-color: var(--color-white);
    font-weight: 550;
    line-height: 20px;
}
section.list .list-container table thead th a {
    display: inline-block;
    width: 100%;
    text-decoration: underline;
    text-underline-offset: 3px;
}

section.list .list-container table thead th.asc {
    background-image: url("/assets/icon_svg/arrow_up.svg");
}
section.list .list-container table thead th.desc {
    background-image: url("/assets/icon_svg/arrow_down.svg");
}
section.list .list-container table thead th:is(.desc,.asc) {
    background-position-x: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}
section.list .list-container table td.actions :is(a,button){
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
section.list .list-container table td.actions .edit{
    background-image: url("/assets/icon_svg/edit.svg");
}
section.list .list-container table td.actions .delete{
    background-image: url("/assets/icon_svg/delete.svg");
}
section.list .list-container table tr.empty td{
    font-size: 16px;
    text-align: center;
    line-height: 200px;
    color: #aaa;
}
/*List*/
/*Pagination */
section.list .pagination{
    padding: 10px 0;
}
section.list .pagination div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;

}
section.list .pagination div :is(a,span){
    display: inline-block;

    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 5px;
    font-weight: 600;
    font-size: 12px;
}
section.list .pagination div span.active{
    background-color: var(--color-primary);
    color: var(--color-white);
}
section.list .pagination div a{
    background-color: var(--color-active);
}
section.list .pagination div span{
    background-color: var(--color-disabled);
}
section.list .pagination .prev ,
section.list .pagination .next {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
section.list .pagination .prev{
    background-image: url("/assets/icon_svg/arrow_left.svg");
}
section.list .pagination .next{
    background-image: url("/assets/icon_svg/arrow_right.svg");
}
/*Pagination */


span.error{
    color: var(--color-error);
}
.form-control input[data-type=select]{
    cursor: pointer;
}
.form-control:has(input[data-type=select]) ul{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-white);
    width: 100%;
    margin-top: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #cccccc70;
    z-index: 10;
    display: none;
    max-height: 200px;
    overflow-y: scroll;
}
.form-control:has(input[data-type=select]) li{
    line-height: 25px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
}
.form-control:has([data-type=select]) li:hover{
    background-color: var(--color-active);
}
.form-control:has(input[data-type=select]) .select-value{
    width: 100%;
    border-radius: 3px;
    outline: inherit;
    border: none;
    line-height: 25px;
    padding: 5px;
    box-sizing: border-box;
    display: inline-block;
    background-color: var(--color-white);
    min-height: 35px;
}
.form-control:has(input[data-type=auto-complete]) ul{
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-white);
    width: 100%;
    margin-top: 3px;
    border-radius: 5px;
    box-shadow: 2px 2px 3px #cccccc70;
    z-index: 10;
    display: none;
    max-height: 200px;
    overflow-y: scroll;
}
.form-control:has(input[data-type=auto-complete]:focus-visible) ul{
    display: inherit;
}
.form-control:has(input[data-type=auto-complete]) li{
    line-height: 25px;
    padding: 5px;
    box-sizing: border-box;
    cursor: pointer;
    font-size: 14px;
}
.form-control:has([data-type=auto-complete]) li:hover{
    background-color: var(--color-active);
}
.form-control .box-group{
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    border: none;
    line-height: 25px;
    background-color: var(--color-white);
    padding: 5px;
    box-sizing: border-box;
    min-height: 35px;
}
.form-control .box-group .check{
    display: flex;
}
.form-control .form-item{
    display: inline-block;
    width: 100%;
    border-radius: 3px;
    border: none;
    line-height: 25px;
    background-color: var(--color-white);
    padding: 5px;
    box-sizing: border-box;
    height: 35px;
}
