@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        top: 8px;
        height: 64px;
    }
    50%, 100% {
        top: 24px;
        height: 32px;
    }
}
@keyframes toDown {
    from{
        transform: translateY(1px);
    }
    to{
        transform: translateY(14px);
    }
}
@keyframes backGroundScale {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}
@keyframes twinkling {
    0%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes colorFul {
    0%{background-color: #d578b2}
    20%{background-color: #7b78d5}
    40%{background-color: #8caa62}
    60%{background-color: #aa9262}
    80%{background-color: #b578d5}
    100%{background-color: #d578b2}
}