body {
    margin: 0;
    position: relative;
    color: var(--color-text);
    font-family: 'Noto Sans KR', sans-serif;
}

header {
    width: 100%;
    height: 70px;
    position: sticky;
    top: 0;
    padding: 0 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff30;
    backdrop-filter: blur(3px);
}

header a.logo img {
    height: 40px;

}

header nav > ul {
    display: flex;
    text-transform: capitalize;
}

header nav > ul > li {
    position: relative;
}

header nav > ul > li > a {
    display: inline-block;
    margin: 0 20px;
    line-height: 70px;
}

header nav > ul > li > ul {
    position: absolute;
    left: 0;
    background-color: #ffffff30;
    backdrop-filter: blur(3px);
    width: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity 200ms ease-in;

}

header nav > ul > li:hover > ul {
    opacity: 1;
    pointer-events: visible;
}

header nav > ul > li > ul > li a{
    display: inline-block;

    text-align: center;
    line-height: 30px;
}
header nav a{
    /*font-weight: 400;*/
    transition: font-weight 200ms ease-in-out;
}
header nav a:hover{

}
footer {

}

footer nav {
    padding: 0 30px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    text-transform: capitalize;
}

footer nav ul {
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
    gap: 20px;
    height: 38px;
}

footer nav ul li a {

}

footer address {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 10px 30px;
    font-size: 14px;
}

footer address > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer address ul.company {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer address ul.company a {
    line-height: 20px;
}

footer address ul.social {
    display: flex;
    justify-content: end;
    gap: 1rem;
}

footer address ul.social img {
    display: block;
    width: 40px;
    height: 40px;
    object-fit: cover;
    object-position: center;
    background-color: #ccc;
    border-radius: 5px;
}

footer .copy {
    /*padding: 10px 30px;*/
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}

main {
    padding: 30px;
    min-height: calc(100vh - 70px - 140px);
    box-sizing: border-box;
}

nav.quick {
    position: fixed;
    bottom: 30px;
    right: 30px;
}

nav.quick a img {
    width: 30px;
    height: 30px;
    padding: 5px;
    filter: var(--filter-light);
}

nav.quick a span {
    display: none;
}


/* Common Style*/
.popup{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000070;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popup-swiper .swiper-slide{
    width: 500px;
    height: 500px;
    background-color: var(--color-white);
}
.popup img{
    width: 500px;
    height: 500px;
    object-fit: cover;
    object-position: center;
}

/* Main Style*/
section#main_1 {
    /*Company*/
}

section#main_2 {
    /*Service*/
}

section#main_3 {
    /*Portfolio*/
}

section#main_4 {
    /*Inquiry*/
}

/*Company Style*/
section#company_1 {

}

/*Service Style*/
section#service_1 {

}

/*Portfolio Style*/
section#portfolio_1 {

}

/*Inquiry Style*/
section#inquiry_1 {

}
