a {
    color: inherit;
    text-decoration: none;
    outline: none
}

a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

:root {
    --color-primary: #2f5ee7;
    --color-normal: #a9a9a9;
    --color-text: #2e455c;
    --color-white: #fff;
    --color-light: #f4ede8;
    --color-background: #f4f4f4;
    --color-secondary: #2e455c;
    --color-active: #dee6ff;
    --color-disabled: #ddd;
    --color-error: #ff6666;
    --color-info: #61a1f1;
    --filter-light: invert(98%) sepia(4%) saturate(708%) hue-rotate(312deg) brightness(100%) contrast(92%);
    --filter-white: invert(100%) sepia(0%) saturate(10%) hue-rotate(153deg) brightness(103%) contrast(101%);
}


