<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="pagination(page, url)" class="pagination">
        <div>
            <span th:less="${page.hasPrevious()}" class="prev"></span>
            <a th:if="${page.hasPrevious()}" th:href="@{${url}(page=${page.number - 1}, size=${page.size})}" class="active prev"></a>
            <th:block th:each="i : ${#numbers.sequence(0, (page.totalPages>0 ? page.totalPages - 1 : 0))}">
                <span th:if="${i == page.number}" th:text="${i+1}" class="active"></span>
                <a th:if="${i != page.number}" th:href="@{${url}(page=${i}, size=${page.size})}" th:text="${i+1}"></a>
            </th:block>
            <span th:less="${page.hasNext()}" class="next"></span>
            <a th:if="${page.hasNext()}" th:href="@{${url}(page=${page.number + 1}, size=${page.size})}" class="active next"></a>
        </div>
    </div>
</html>
