<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

    <head>
        <title th:text="${title}">하이요</title>
        <link rel="stylesheet" th:href="@{/assets/reset.css}">
        <link rel="stylesheet" th:href="@{/assets/style.css}">
    </head>
    <body>
        <th:block th:replace="layouts/default/header :: header"/>
        <th:block th:replace="layouts/default/navigation :: navigation"/>
        <main><th:block layout:fragment="content"></th:block></main>
        <th:block th:replace="layouts/default/footer :: footer"/>
    </body>
</html>