<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <a th:class="logo" th:href="@{/}">
        <img th:src="#{app.logo-url}" th:alt="logo_default"/>
        <h1 hidden th:text="#{app.title}"/>
    </a>
    <span class="hambuger"></span>
    <nav>
        <ul th:if="${globalMenu.header != null}">
            <li th:each="menu : ${globalMenu.header}">
                <a th:text="#{${menu.label}}" th:href="@{${menu.path}}" class="hover" data-animation="upscale"></a>

                <ul th:if="${menu.children}">
                    <li th:each="children : ${menu.children}">
                        <a th:href="@{${children.path}}" th:text="#{${children.label}}" class="hover" data-animation="sheen" ></a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
</html>