body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;
}

header {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid;
    position: sticky;
    top: 0;
}
nav{
    width: 100%;
    border-bottom: 1px solid;
}
footer{
    width: 100%;
}