<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/layout}">
<th:block layout:fragment="plugin">

    <script th:src="|${url}/assets/js/file.js|"></script>
</th:block>

<th:block layout:fragment="content">
    <form th:action="@{/admin/resource-form}" method="post" enctype="multipart/form-data">
        <div class="tool-box">
            <h2 th:text="#{admin.content.resource} + ' ' + #{form.register}"></h2>

            <div class="buttons">
                <a class="button" th:href="@{/admin/resource}" th:text="#{form.list}"></a>
                <button type="submit" class="button primary" th:text="#{form.save}"></button>
            </div>
        </div>
        <article>
            <section class="form">
                
                <fieldset>
                    <legend th:text="#{form.content}"></legend>
                    <div class="form-control">
                        <label for="title">
                            <span class="label" th:text="#{resource.title}"></span>
                        </label>
                        <input type="text" name="title" id="title" th:value="${item.title}" required/>
                    </div>

                    <div class="form-control">
                        <label for="groupTitle">
                            <span class="label" th:text="#{resource.group}"></span>
                        </label>
                        <input type="text" name="groupTitle" id="groupTitle" th:value="${item.group?.title}"  data-type="auto-complete"/>
                        <ul>
                            <li th:each="group : ${groups}" th:text="${group.title}"></li>
                        </ul>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>이미지</legend>
                    <div class="form-control">
                        <label for="resource">
                            <span class="label" th:text="#{resource.resource}"></span>
                        </label>
                        <label class="file-uploader">
                            <span class="form-item" th:text="${item.resource?.origin}"></span>
                            <input type="file" name="resource" id="resource" accept="image/*" hidden/>
                        </label>
                    </div>
                </fieldset>
            </section>
        </article>
        <input type="hidden" name="id" th:value="${item.id}"/>
    </form>

</th:block>
</html>
