<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/layout}">
<th:block layout:fragment="plugin">
    <!--  Editor  -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-resize-image@1.0.5/dist/quill-resize-image.min.js"></script>
    <script th:src="|${url}/assets/js/editor.js|"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
    <script th:src="|${url}/assets/js/datepicker.js|"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</th:block>

<th:block layout:fragment="content">
    <form th:action="@{/admin/popup-form}" method="post">
        <div class="tool-box">
            <h2 th:text="#{popup.subject} + ' ' + #{form.register}"></h2>

            <div class="buttons">
                <a class="button" th:href="@{/admin/popup}" th:text="#{form.list}"></a>
                <button type="submit" class="button primary" th:text="#{form.save}"></button>
            </div>
        </div>
        <article>
            <section class="form">
                <fieldset>
                    <legend th:text="#{form.content}"></legend>
                    <div class="form-control">
                        <label for="title">
                            <span class="label" th:text="#{popup.title}"></span>
                        </label>
                        <input type="text" name="title" id="title" th:value="${item?.title}" required/>
                    </div>

                    <div class="form-control">
                        <label for="url">
                            <span class="label" th:text="#{popup.url}"></span>
                        </label>
                        <input type="text" name="url" id="url" th:value="${item?.url}" />
                    </div>
                    <div class="form-group">
                        <div class="form-control">
                            <label for="startAt">
                                <span class="label" th:text="#{popup.start}"></span>
                            </label>
                            <input type="text" name="startAt" id="startAt" th:value="${item?.startAt}" data-type="date-picker" required/>
                        </div>
                        <div class="form-control">
                            <label for="endAt">
                                <span class="label" th:text="#{popup.end}"></span>
                            </label>
                            <input type="text" name="endAt" id="endAt" th:value="${item?.endAt}" data-type="date-picker" required/>
                        </div>
                    </div>


                </fieldset>
            </section>
        </article>
        <input type="hidden" name="id" th:value="${item?.id}"/>
    </form>
</th:block>
</html>
