<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/layout}">
<th:block layout:fragment="plugin">
    <!--  Editor  -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-resize-image@1.0.5/dist/quill-resize-image.min.js"></script>
    <script th:src="|${url}/assets/js/editor.js|"></script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/ko.js"></script>
    <script th:src="|${url}/assets/js/datepicker.js|"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script th:src="|${url}/assets/js/file.js|"></script>
</th:block>

<th:block layout:fragment="content">
    <form th:action="@{/admin/inquiry-form}" method="post" enctype="multipart/form-data">
        <div class="tool-box">
            <h2 th:text="#{admin.content.inquiry} + ' ' + #{form.register}"></h2>

            <div class="buttons">
                <a class="button" th:href="@{/admin/inquiry}" th:text="#{form.list}"></a>
                <button type="submit" class="button primary" th:text="#{form.save}"></button>
            </div>
        </div>
        <article>
            <section class="form">
                <fieldset>
                    <legend th:text="#{form.content}"></legend>
                    <div class="form-control">
                        <label for="title">
                            <span class="label" th:text="#{inquiry.title}"></span>
                        </label>
                        <input type="text" name="title" id="title" th:value="${item.title}" required/>
                    </div>
                    <div class="form-group">
                        <div class="form-control">
                            <label for="category">
                                <span class="label" th:text="#{inquiry.category}"></span>
                            </label>
                            <input type="text" name="category" id="category" th:value="${item.category}" />
                        </div>
                        <div class="form-control">
                            <label for="tag">
                                <span class="label" th:text="#{inquiry.tag}"></span>
                            </label>
                            <input type="text" name="tag" id="tag" th:value="${item.tag}" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-control">
                            <label for="url">
                                <span class="label" th:text="#{inquiry.url}"></span>
                            </label>
                            <input type="url" name="url" id="url" th:value="${item.url}"/>
                        </div>
                        <div class="form-control">
                            <label for="type">
                                <span class="label" th:text="#{inquiry.type}"></span>
                            </label>
                            <span class="select-value" th:if="${item.type == null}"></span>

                            <span class="select-value" th:each="type : ${types}"
                                  th:if="${type == item.type && item.type != null}"
                                  th:text="#{${type.message}}"></span>
                            <input type="hidden" name="type" id="type" th:value="${item?.type}"
                                   data-type="select"/>
                            <ul>
                                <li th:each="type : ${types}" th:text="#{${type.message}}"
                                    th:data-value="${type.name()}"></li>
                            </ul>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>이미지</legend>
                    <div class="form-group">
                        <div class="form-control">
                            <label for="thumbnail">
                                <span class="label" th:text="#{inquiry.thumbnail}"></span>
                            </label>
                            <label class="file-uploader">
                                <span class="form-item" th:text="${item.thumbnail?.origin}"></span>
                                <input type="file" name="thumbnail" id="thumbnail" accept="image/*" hidden/>
                            </label>
                        </div>
                        <div class="form-control">
                            <label for="header">
                                <span class="label" th:text="#{inquiry.header}"></span>
                            </label>
                            <label class="file-uploader">
                                <span class="form-item" th:text="${item.header?.origin}"></span>
                                <input type="file" name="header" id="header" accept="image/*" hidden/>
                            </label>
                        </div>

                    </div>


                    <div class="form-control">
                        <label>
                            <span class="label" th:text="#{inquiry.content}"></span>
                        </label>
                        <div class="editor" data-id="content" th:text="${item.content}"></div>
                    </div>

                </fieldset>

                <fieldset>
                    <legend th:text="#{form.etc}"></legend>
                    <div class="form-control">
                        <label>
                            <span class="label" th:text="#{inquiry.description}"></span>
                        </label>
                        <div class="editor" data-id="description" th:text="${item.description}"></div>
                    </div>
                </fieldset>
            </section>
        </article>
        <input type="hidden" name="id" th:value="${item.id}"/>
    </form>
</th:block>
</html>
