<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main/layout}">
<th:block layout:fragment="plugin">
    <!--    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12.7/dist/gsap.min.js"></script>-->
    <script src="https://unpkg.com/type-hangul"></script>
    <script>

    </script>
    <script th:inline="javascript">
        /*<![CDATA[*/

        /*]]>*/
    </script>
</th:block>
<th:block layout:fragment="content">
    <section id="portfolio_1">
        <div class="background"></div><div class="content">
        <h2 th:text="#{menu.portfolio}"></h2>
    </div>
    </section>
</th:block>
</html>
