<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <h1 class="logo">
        <div class="toggle" id="toggle" th:tooltip="#{tip.toggle}" th:flow="right">
            <span></span>
            <span></span>
            <span></span>
        </div>

        <a href="/admin" class="logo">
            <img th:src="#{app.logo-url}" th:alt="logo_default" />
        </a>
    </h1>
    <div>
        <a th:href="@{/}">
            <img src="/assets/icon_svg/home.svg" alt="home"/>
        </a>
    </div>

</header>
</html>