<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <title th:text="${title==null ? '부산홈페이지제작 케이투솔루션' : title + ' | 부산홈페이지제작 케이투솔루션' }"/>


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <link rel="canonical" href="https://kksolution.co.kr"/>
    <link rel="alternate" href="https://kksolution.co.kr"/>

    <meta property="og:url" content="https://kksolution.co.kr"/>
    <meta property="og:title" content="부산홈페이지제작 케이투솔루션"/>
    <meta property="og:description" content="부산 부산진구 홈페이지제작 전문업체 ,케이투솔루션"/>
    <meta property="og:site_name" content="부산홈페이지제작 케이투솔루션"/>
    <meta property="og:image" th:attr="content=@{/assets/image/logo.png}"/>
    <meta property="og:type" content="website"/>


    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script th:src="|${url}/assets/js/validator.js|"></script>
    <link rel="stylesheet" th:href="|${url}/assets/css/reset.css|">
    <link rel="stylesheet" th:href="|${url}/assets/css/root.css|">
    <link rel="stylesheet" th:href="|${url}/assets/css/style.css|">
    <link rel="stylesheet" th:href="|${url}/assets/css/admin.css|">

    <script th:src="|${url}/assets/js/validator.js|"></script>
    <script th:src="|${url}/assets/js/admin.js|"></script>
</head>
<body th:class="loading" th:classappend="${menuHide}">
<th:block th:replace="~{layouts/admin/header :: header}"/>
<main>
    <th:block layout:fragment="content"/>
</main>
<th:block th:replace="~{layouts/admin/footer :: footer}"/>
<th:block th:replace="~{layouts/admin/navigation :: navigation}"/>
<div class="loading-container">
    <span>
        <span></span>
        <span></span>
        <span></span>
    </span>
</div>
<th:block layout:fragment="plugin"></th:block>
<th:block th:if="${message != null}">
    <script th:inline="javascript">
        /*<![CDATA[*/
        window.addEventListener('load',_=>{
            n.open({
                type: [[${message.type}]],
                message: [[${message.message}]]
            })
        })
        /*]]>*/
    </script>
</th:block>
<div class="modal" >
    <div class="modal-container">
        <div class="delete-form">
            <form action="" method="post" id="deleteForm">
                <input type="hidden" name="id" value=""/>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <h3 th:text="#{admin.delete.title}"></h3>
                <div class="content">
                    <p th:text="#{admin.delete.content1}"></p>
                    <p th:text="#{admin.delete.content2}"></p>
                    <p>
                        <span class="error" th:text="'\''+#{admin.delete.keyword}+'\''"></span>
                        <span th:text="#{admin.delete.content3}"></span>
                    </p>
                </div>
                <label for="deleteText">
                    <input type="text" name="deleteText" id="deleteText" autofocus required autocomplete="off"/>
                </label>
                <div class="buttons">
                    <button type="button" class="button normal" th:text="#{form.cancel}"></button>
                    <button type="submit" class="button error" th:text="#{form.ok}"></button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>

</html>