<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/admin/layout}">
<th:block layout:fragment="plugin">
    <!--  Editor  -->
    <link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quill-resize-image@1.0.5/dist/quill-resize-image.min.js"></script>
    <script th:src="|${url}/assets/js/editor.js|"></script>
</th:block>

<th:block layout:fragment="content">
    <form th:action="@{/admin/content-form}" method="post">
        <div class="tool-box">
            <h2 th:text="#{content.subject} + ' ' + #{form.register}"></h2>

            <div class="buttons">
                <a class="button" th:href="@{/admin/content}" th:text="#{form.list}"></a>
                <button type="submit" class="button primary" th:text="#{form.save}"></button>
            </div>
        </div>
        <article>
            <section class="form">
                <fieldset>
                    <legend th:text="#{form.content}"></legend>
                    <div class="form-control">
                        <label for="title">
                            <span class="label" th:text="#{content.title}"></span>
                        </label>
                        <input type="text" name="title" id="title" th:value="${item?.title}" required/>
                    </div>
                    <div class="form-control">
                        <label for="path">
                            <span class="label" th:text="#{content.path}"></span>
                        </label>
                        <input type="text" name="path" id="path" th:value="${item?.path}" required maxlength="10"/>
                    </div>
                    <div class="form-control">
                        <label for="content">
                            <span class="label" th:text="#{content.content}"></span>
                        </label>
                        <div class="editor" id="content" data-id="content" th:text="${item?.content}"></div>
                    </div>
                </fieldset>
            </section>
        </article>
        <input type="hidden" name="id" th:value="${item?.id}"/>
    </form>
</th:block>
</html>
